{% extends "layouts/base.html" %}

{% block content %}
<style>
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
</style>
<div class="container-fluid pt-1 pb-3" style="user-select:none;">
    <div class="min-vh-80 h-100">
        <div class="col-12 d-flex justify-content-center">
            <div class="card shadow my-4 w-auto">
                    <form class="form" method="POST">
                    <div class="card-header bg-primary text-white p-3">
                        <h4>Agregar Docente</h4>
                    </div>
                    <div class="card-body ">
                        <div class="d-flex justify-content-center input-group ">
                            <table class="table-responsive">
                                {% csrf_token %}
                                {{ form.as_table }}
                            </table>

                        </div>
                    </div>
                    <div class="card-footer text-center">

                        <div class="">

                            <button class="btn btn-primary" type="submit">Guardar</button>
                            <button class="btn btn-secondary" onClick="window.history.back();return false;">Cancelar</button>                        
                        </div>
                    </div>
                </form>
                </div>
        </div>
    </div>
</div>
<script>
    function maxLengthCheck(object) {
      if (object.value.length > object.max.length)
        object.value = object.value.slice(0, object.max.length)
    }
      
    function isNumeric (evt) {
      var theEvent = evt || window.event;
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode (key);
      var regex = /[0-9]|\./;
      if ( !regex.test(key) ) {
        theEvent.returnValue = false;
        if(theEvent.preventDefault) theEvent.preventDefault();
      }
    }
  </script>
{% endblock content %}
{% block javascripts %}
{% endblock javascripts %}