{% extends "layouts/base.html" %}

{% block content %}

<div class="container-fluid pt-1 pb-3" style="user-select:none;">
    <div class="min-vh-80 h-100">
        <div class="col-12 d-flex justify-content-center">
            <div class="card shadow my-4 w-auto">
                <div class="card-header bg-primary text-white p-3">
                    <div class="row justify-content-between">
                        <div class="col pt-1">

                            <h4 class="mb-0">Unidades Curriculares</h4>
                        </div>
                        {% if perms.asistencia.add_uc %}
                        <div class="col text-end pe-3">
                            <h3>
                                <a title="Agregar Unidad Curricular" class="text-white" href=" {% url 'crear_uc' %} ">
                                    +
                                </a>
                            </h3>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-sm text-secondary">Nombre</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for uc in lista_ucs %}
                            <tr>
                                <td>{{ uc.nombre }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}