{% extends "layouts/base.html" %}

{% block content %}

<div class="container-fluid pt-1 pb-3" style="user-select:none;">
    <div class="min-vh-80 h-100">
        <div class="col-12 d-flex justify-content-center">
            <div class="card shadow my-4 w-auto">
                <div class="card-header bg-primary text-white p-3">
                    <div class="row justify-content-between">
                        <div class="col pt-1">

                            <h4 class="mb-0">Horarios</h4>
                        </div>
                        <div class="col text-end pe-3">
                            <h3>
                                <a title="Agregar Docente" class="text-white" href=" {% url 'crear_horario' %} ">
                                    +
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-sm text-secondary">Día</th>
                                <th class="text-sm text-secondary">Unidad Curricular</th>
                                <th class="text-sm text-secondary text-center">Sección</th>
                                <th class="text-sm text-secondary">Docente</th>
                                <th class="text-sm text-secondary text-center">Entrada</th>
                                <th class="text-sm text-secondary text-center">Salida</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for horario in lista_horarios %}
                            <tr>
                                <td>{{ horario.dia|slice:"1:" }}</td>
                                <td>{{ horario.uc }}</td>
                                <td class="text-center">{{ horario.seccion }}</td>
                                <td>{{ horario.docente.nombre }} {{ horario.docente.apellido }}</td>
                                <td class="text-center">
                                    {% if horario.entrada|first in '0' %}
                                        {{ horario.entrada|slice:"1:" }}
                                    {% else %}
                                        {{ horario.entrada }}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if horario.salida|first in '0' %}
                                        {{ horario.salida|slice:"1:" }}
                                    {% else %}
                                        {{ horario.salida }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}