{% block content %}
<div class="collapse" id="collapseSBar" style="user-select: none;">
<div class="position-absolute d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100%; z-index: 5;">
  <a role="button" data-bs-toggle="collapse" data-bs-target="#collapseSBar" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-4">Menu</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="{% url 'home' %}" class="nav-link {% if 'home' in request.get_full_path %}active{% else %}link-dark{% endif %}" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
        Inicio
      </a>
    </li>
    <li>
      <a href="{% url 'horarios' %}" class="nav-link {% if 'horario' in request.get_full_path %}active{% else %}link-dark{% endif %}">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
        Horarios
      </a>
    </li>
    <li>
      <a href="{% url 'docentes' %}" class="nav-link {% if 'docente' in request.get_full_path %}active{% else %}link-dark{% endif %}">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
        Docentes
      </a>
    </li>
    <li>
      <a href="{% url 'ucs' %}" class="nav-link {% if 'ucs' in request.get_full_path %}active{% else %}link-dark{% endif %}">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
        Unidades Curriculares
      </a>
    </li>
  </ul>
  <hr>
  <b class="text-xs font-weight-bolder">V0.4</b>
</div>
</div>
{% endblock content %}