@font-face {
    font-family: "Benzin";
    src: url("./benzin-extrabold.ttf") format("truetype");
}

.title-benzin {
    font-family: "Benzin", ubuntu;
    color: #fff !important; 
} 

.material-nomo{
    
}
