<!DOCTYPE html>
<html lang="en">
<head>
  {% load i18n %}  
  {% load static %}  
  {% language 'es' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistencias Docentes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

{% include 'layouts/svg.html' %}

<body>
  <main class="main-content position-relative max-height-vh-100 h-100 ">

    {% include 'layouts/navbar.html' %}
    
    {% block content %}
    
    {% endblock content %}
    
    {% include 'layouts/scripts.html' %}
  </main>
</body>
{% endlanguage %}
</html>
