{% block content %}
<nav>
    <div class="px-3 py-2 bg-primary">
      <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <a href="#" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <i class="display-6 fa-solid fa-bars"></i>
          </a>

          <ul class="nav col-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                Inicio
              </a>
            </li>
            <li>
              <a href="{% url 'horarios' %}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
                Horarios
              </a>
            </li>
            <li>
              <a href=" {% url 'docentes' %} " class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                Docentes
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>    
  </nav>
 {% endblock content %}